name: PRs to PRODUCTION
on: 
  pull_request:
    branches: [PRODUCTION]
    types: [closed]
jobs:
  merge-PRODUCTION-back-to-master:
    if: github.event.pull_request.merged == true
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set Git config
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"
    - name: Merge PRODUCTION back to master
      run: |
          git fetch --unshallow
          git checkout master
          git pull
          git merge --no-commit PRODUCTION
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
