name: PRs to PRODUCTION
on: 
  pull_request:
    branches: [PRODUCTION]
    types: [closed]
jobs:
  merge-PRODUCTION-back-to-main:
    if: github.event.pull_request.merged == true
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set Git config
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"
    - name: Merge PRODUCTION back to main
      run: |
          git fetch --unshallow
          git checkout main
          git pull
          files_changed=$(git diff --name-status PRODUCTION..main | wc -l)
          if ((files_changed > 0)); then
            echo "flag=true" >> $GITHUB_ENV
            echo "flag set to true"
            git merge --no-commit PRODUCTION --strategy-option theirs
          else
            echo "flag=false" >> $GITHUB_ENV
            echo "flag set to false"
          fi
    - name: Echo flag
      run: |
          echo env.flag
          echo ${{ env.flag }}
    - name: Create Pull Request
      if: ${{ env.flag }}
      uses: peter-evans/create-pull-request@v4
